.content {
    padding: 2rem;
}
.cybersecurity, .cyberspace {
    display: flex;
    justify-content: center;
}
.left, .right {
    box-sizing: border-box;
    padding: 1rem;
}
.left {
    width: 60%;
}
.right {
    width: 40%;
}
img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}
p, li {
    color: rgb(49, 190, 138);
}
li {
    margin: 10px 0;
}
span {
    color: red;
}
a {
    text-decoration: none;
    color: rgb(0, 204, 204);
}